/* Home.css */
.home-container {
    height: 100vh;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    padding: 20px;
    backdrop-filter: blur(5px);
    border-radius: 8px;
}

.home-title {
    margin-bottom: 16px; /* Adjust margin as needed */
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.home-subtitle {
    margin-bottom: 32px; /* Adjust margin as needed */
    font-style: italic;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
}

.home-button {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
}

.home-button:hover {
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.7);
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 0;
}
