.global_header {
    position: absolute !important;
    z-index: 10;
    color: white !important;
    --Paper-shadow: none !important;
}

.global_header__items {
    justify-content: space-between;
    align-items: flex-start !important;
    padding-top: 16px;
}

.global_header__menu_items {
    padding-top: 12px;
}